{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <table class="variations" cellspacing="0" role="presentation"><tbody><tr><th class="label"><label for="storlek">Storlek</label></th><td class="value"> <select id="storlek" class="" name="attribute_storlek" data-attribute_name="attribute_storlek" data-show_option_none="yes"><option value="">Välj ett alternativ</option><option value="36-40&quot;" class="attached enabled">36-40"</option><option value="&quot;41-45" class="attached enabled">"41-45</option></select><a class="reset_variations" href="#" style="visibility: hidden;">Rensa</a></td></tr></tbody></table>
{%- endunless -%}
