.collection__title.title-wrapper.title-wrapper--no-top-margin.page-width {
  margin-left: 20px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
}

ul.grid.product-grid.contains-card.contains-card--product.grid--2-col-desktop.grid--2-col-tablet-down {
  width: 1618px;
  margin-left: -22px;
}

.color-scheme-2.isolate.gradient .collection {
  width: 1654px;
}

.center.collection__view-all.scroll-trigger.animate--slide-in {
  float: left;
}

.color-scheme-2.isolate.gradient {
  margin-top: 40px;
}

#collection-template--23618388197642__featured_collection_yRG4VR
  ul.grid.product-grid.contains-card.contains-card--product.grid--2-col-desktop.grid--2-col-tablet-down {
  margin-left: 43px;
}

#shopify-section-template--23618388197642__featured_collection_mzmiG7 h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 7.8px;
}
x #shopify-section-template--23618388197642__featured_collection_mzmiG7 {
  margin-top: 153px;
}

#shopify-section-template--23618388197642__featured_collection_mzmiG7
  slider-component
  ul {
  margin-left: 47px;
}

.collection.section-template--23618388197642__featured_collection_Mj9EFG-padding
  ul.grid.product-grid.contains-card.contains-card--product.grid--2-col-desktop.grid--2-col-tablet-down {
  width: 1554px;
}

#shopify-section-template--23618388197642__featured_collection_Mj9EFG {
  margin-top: 180px;
}

#shopify-section-template--23618388197642__featured_collection_WXrMwY
  slider-component {
  height: 1903px;
  margin-left: 0px;
}

ul#Slider-template--23618388197642__featured_collection_WXrMwY {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul#Slider-template--23618388197642__featured_collection_WXrMwY li {
  flex: 1 1 45%;
  margin-bottom: 20px;
}

#shopify-section-template--23618388197642__featured_collection_7bBHQH,
#shopify-section-template--23618388197642__featured_collection_q6hdjt,
#shopify-section-template--23618388197642__featured_collection_RdF4eP {
  margin-left: -80px;
}

#shopify-section-template--23618388197642__featured_collection_a9i3rM ul li,
#shopify-section-template--23618388197642__featured_collection_7bBHQH ul li,
#shopify-section-template--23618388197642__featured_collection_q6hdjt ul li,
#shopify-section-template--23618388197642__featured_collection_RdF4eP ul li {
  width: 400px;
  height: 518px;
  padding: 0px 20px 0px 0px;
}

#shopify-section-template--23618388197642__featured_collection_a9i3rM ul,
#shopify-section-template--23618388197642__featured_collection_7bBHQH ul,
#shopify-section-template--23618388197642__featured_collection_q6hdjt ul,
#shopify-section-template--23618388197642__featured_collection_RdF4eP ul {
  width: 1620px;
  height: 518px;
  margin-left: 120px;
}

#shopify-section-template--23618388197642__featured_collection_a9i3rM
  .slider-mobile-gutter,
#shopify-section-template--23618388197642__featured_collection_7bBHQH
  .slider-mobile-gutter,
#shopify-section-template--23618388197642__featured_collection_q6hdjt
  .slider-mobile-gutter,
#shopify-section-template--23618388197642__featured_collection_RdF4eP
  .slider-mobile-gutter {
  height: 575px;
}

#shopify-section-template--23618388197642__featured_collection_7bBHQH,
#shopify-section-template--23618388197642__featured_collection_q6hdjt,
#shopify-section-template--23618388197642__featured_collection_RdF4eP {
  height: 800px;
  margin-top: -67px;
}

#shopify-section-template--23618388197642__featured_collection_a9i3rM
  .center.collection__view-all.scroll-trigger.animate--slide-in,
#shopify-section-template--23618388197642__featured_collection_7bBHQH
  .center.collection__view-all.scroll-trigger.animate--slide-in,
#shopify-section-template--23618388197642__featured_collection_q6hdjt
  .center.collection__view-all.scroll-trigger.animate--slide-in,
#shopify-section-template--23618388197642__featured_collection_RdF4eP
  .center.collection__view-all.scroll-trigger.animate--slide-in {
  margin-top: -61px;
  margin-left: 9px;
}

#shopify-section-template--23618388197642__featured_collection_7bBHQH
  ul
  li.grid__item.scroll-trigger.animate--slide-in,
#shopify-section-template--23618388197642__featured_collection_q6hdjt
  ul
  li.grid__item.scroll-trigger.animate--slide-in,
#shopify-section-template--23618388197642__featured_collection_RdF4eP
  ul
  li.grid__item.scroll-trigger.animate--slide-in {
  padding: 0 20px 0 0;
  width: 800px;
  border-style: none;
  margin-right: -8px;
  margin-bottom: 13px;
}

#shopify-section-template--23618387902730__product-grid