#shopify-section-template--23618388197642__image_with_text_yDAL8B h2 {
  margin-left: 20px;
  margin-top: -13px;
}

#shopify-section-template--23618388197642__image_with_text_yDAL8B
  .image-with-text__text {
  margin-left: 20px;
  margin-top: 30px;
}

#shopify-section-template--23618388197642__image_with_text_yDAL8B a {
  margin-left: 20px;
  margin-top: 33px;
}

.image-with-text__grid {
  margin-left: 40px;
  margin-right: 40px;
}

.image-with-text__media {
  border: none;
}

.image-with-text__media img {
  width: 70%; /* Ensure the image takes the full width of its container */
  height: auto; /* Maintain the image's aspect ratio */
  object-fit: contain; /* Ensure the whole image is shown without being cropped */
}

.image-with-text__text-item {
  width: 50%;
}

.image-with-text__text h3 {
  font-family: "Exo 2", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 1px;
  margin-top: -20px;
}

.image-with-text__text h2:nth-of-type(2) {
  margin-top: -40px;
}

#ImageWithText--template--23618388197642__image_with_text_MdnbWr
  .image-with-text__text
  h2:first-of-type {
  font-family: "Exo 2", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
}

#ImageWithText--template--23618388197642__image_with_text_MdnbWr
  .image-with-text__text
  h2:nth-of-type(2) {
  font-family: "Exo 2", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 1px;
  margin-top: -10px;
}

#shopify-section-template--23618388197642__image_with_text_C3BFDq
  .image-with-text__text {
  margin-top: -21px;
}

.image-with-text__text h2:first-of-type {
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-left: 29px;
}

#shopify-section-template--23618388197642__image_with_text_Q7TNbm
  .image-with-text__text
  h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 1px;
  margin-left: 26px;
  margin-top: 0px;
}
#ImageWithText--template--23618388197642__image_with_text_VniWgN
  .image-with-text__text,
#ImageWithText--template--23618388197642__image_with_text_MdnbWr
  .image-with-text__text,
#ImageWithText--template--23618388197642__image_with_text_wnxHeA
  .image-with-text__text {
  margin-left: 21px;
}

#collection-template--23618388197642__featured_collection_yRG4VR
  .slider-component {
  margin-left: 29px;
}

#shopify-section-template--23618388197642__image_with_text_YWCwNT
  h2:nth-of-type(2),
#shopify-section-template--23618388197642__image_with_text_h8G6Wa
  h2:nth-of-type(2),
#shopify-section-template--23618388197642__image_with_text_tLNHHk
  h2:nth-of-type(2) {
  margin-top: -24px;
}

#ImageWithText--template--23618388197642__image_with_text_TJUxW8
  h2:nth-of-type(2)
  strong {
  font-size: 20px;
}

.image-with-text__grid {
  height: 556px;
  background-color: #f8f8f8;
  padding: 50px;
  border-width: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.image-with-text__media-item {
  border: none !important;
}

.image-with-text__media {
  max-width: 100%;
}

.image-with-text .image-with-text__media-item {
  border: none !important;
}

#shopify-section-template--23618388197642__image_with_text_TJUxW8 {
  margin-top: 59px;
}

h2.image-with-text__heading strong {
  height: 170px;
  font-family: "Exo 2", Sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 7.8px;
}

.image-with-text .image-with-text__grid .image-with-text__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-with-text__content .image-with-text__text + .button {
  margin-top: 1rem !important;
}
