h2.totals__total {
  letter-spacing: 2px;
}

.totals {
  justify-content: center !important;
  padding: 20px;
}

@media screen and (min-width: 750px) {
  .cart__ctas {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}

#CartDrawer-ContinueShopping {
  background-color: black;
  height: 45px;
  color: #f8f8f8;
  border: none;
}

.drawer__footer {
  padding: -12.5rem 0;
}

.cart__ctas button {
  font-size: 16px;
}

.drawer__inner cart-drawer-items {
  padding-top: 40px;
}
